@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*  background-color: #333;
*/
}

li {
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px;
}

li a {
  float: left;
  display: block;
  color: #2b777e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #15373a;
  text-decoration: none;
}

body {
  /*background: url("../daniels test/images/board.jpeg") no-repeat center center fixed;*/
  background-color: #64D9E4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.search-input {
  float: right;
  width: 50%;
  height: 3vh;
}

.fa-times {
  color: red;
}

.fa-plus-circle {
  color: green;
}

.fa-bars {
  color: #2b777e;
}

.fa-pencil {
  color: black;
}

.fa-sign-out {
  color: #2b777e;
}

.fa-sign-out:hover {
  color: #15373a;
}

h1 {
  text-align: center;
}

.form {
  font-size: 20px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.input_field {
  margin-bottom: 10px;
  width: 100%;
}

.form1 {
  font-size: 20px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
}

.logo {
  width: 25%;
}

#showcaselogin {
  background-image: url("../images/board.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  height: 500px;
}

.intro {
  text-align: center;
}

.profile {
  width: 200px;
  display: block;
  margin: auto;
  border: solid 2px;
}

#username {
  text-align: center;
}

#rank {
  text-align: center;
}

#feed {
  border: solid 3px;
  height: 402px;
  padding: 3px;
}

#edit {
  margin: auto;
  display: block;
  margin-bottom: 5px;
}

#profilepic {
  padding-top: 15px;
  margin-bottom: 20px;
}

#feedcontent {
  height: 300px;
  overflow: auto;
  margin-left: 15px;
}

footer {
  width: 100%;
  height: 5%;
  bottom: 0;
  position: fixed;
  text-align: center;
  color: white;
  background-color: #2B777E;
}


/** LOGIN MODAL **/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[id=p1] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[id=p1]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
         user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #2B777E;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #40a7b1;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help {
  font-size: 12px;
}
#loginbutton{
  background-color: #2B777E;
  transition:.5s;
}
#loginbutton:hover{
  background-color: #40a7b1;
}
#google{
  margin-top: 10px;
  width: 175px;
}
.inputs{
  margin-bottom: 5px;
  width: 200px;
  height: 30px;
  font-family: roboto;

}
.flake{
  width: 50%;
  margin: auto;
  display: block;
}
<<<<<<< HEAD

#myButton{
  background-color: #ff0000;
  margin-top: 5px;
  transition:.5s;
}

#myButton:hover{
  background-color: #A9A9A9;
=======
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
>>>>>>> develop
}
