.hide{
  display: none;
}
.main{
  text-align: center;
  margin-top: 20vh;
  width: 100%;
  clear: both;
}
.inputs{
  margin-bottom: 1vh;
}
body{
  background-color: #348E96;
}
.btn{
  margin-top: 1vh;
}
h1{
  text-align: center;
  margin-top: 20vh;
  font-family: 'Libre Baskerville', serif;
}
label{
  display:block;
  text-align: center;
}
