.hide{
  display: none;
}
.main{
  text-align: center;
  margin-top: 5vh;
  width: 100%;
  clear: both;
}
.inputs{
  margin-bottom: 1vh;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-repeat: no-repeat;
}

.btn{
  margin-top: 1vh;
  width: 90px;
  height: 40px;
}

#center {
   margin:auto;
   display:block;
 }

 #log {
   background-color: #2B777E;
   color: white;
   display: block;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   width: 10%;
   margin:auto;
   margin-top: 2vh;
 }

 #log1 {
   background-color: #2B777E;
   color: white;
 }

h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #2B777E;
  font-size: 56px;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;

}

h3 {
  text-align: center;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #2B777E;
  font-size: 56px;
  margin-top: 20px;
  margin-left: 50px;
}

#newacc {
  float: left;
  margin-left: 50px;
  font-size: 20px;
}

#newacc1 {
  float: left;
  margin-left: 50px;
  margin-top: 45px;
  font-size: 20px;
}

#marleft {
  margin-left: 20px;
  margin-bottom: 5px;
}
label{
  display:block;
  text-align: center;
}
img.logo {
  margin-top: 5vh;
}

.background {
  background-color: white;
}

body {
  background: url(images/board.jpeg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#signup {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.title:hover {
    color: #40A7B1;
    text-decoration: none;
}

#log:hover {
  background-color: #40A7B1;
}

#log1:hover {
  background-color: #40A7B1;
}

.btn.signup {
  background-color: #2B777E;
  color:white;
}

.btn.signup:hover {
  background-color: #40A7B1;
}

.tab {
  color: #2B777E;
  font-size: 24px;
  margin-left: 110px;
  }

.form {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
}

.profile{
  margin-top: 25px;
	margin-left: 50px;
	width: 100%;
  width: 600px;
  height: 350px;;
  background-color: rgb(235,237,236);
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#editprofile {
  background-color: #2B777E;
  color: white;
  width: 100%;
  display: block;
  margin-left: 50px;
}

.progress-bar {
  background-color: #40A7B1;
  width: 50%;
}
