.hide{
  display: none;
}
.main{
  text-align: center;
  margin-top: 5vh;
  width: 100%;
  clear: both;
}
.inputs{
  margin-bottom: 1vh;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-repeat: no-repeat;
}

.btn{
  margin-top: 1vh;
  width: 90px;
  height: 40px;
}

#center {
   margin:auto;
   display:block;
 }

 #log {
   background-color: #2B777E;
   color: white;
 }

h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #2B777E;
  font-size: 56px;
}

h3 {
  text-align: center;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #2B777E;
  font-size: 56px;
  margin-top: 20px;
  margin-left: 50px;
}

#newacc {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 20px;


}

#marleft {
  margin-left: 20px;
  margin-bottom: 5px;
}
label{
  display:block;
  text-align: center;
}
img.logo {
  margin-top: 5vh;
}

body {
  background: url(images/board.jpeg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
